.brand{
  margin:0;
  font-weight: bold;
}

.main{
  margin-top: 80px;
}

.card{
  padding:10px;
}

.post{
  padding: 15px;
}

.page{
  display:none;
}

.top-bar{
  background: #f45;
  color:#fff;
  height: 50px;
  box-shadow: 0px 3px 4px #0005;
}



.top-bar .menu{
  background: #fff;
  box-shadow: 0px 3px 4px #0005;
  color:#000;
}

.top-bar .menu a{
  background: #fff0;
  color:#000;
}


.bottom-bar{
  display: flex;
  height:65px;
}

.bottom-bar>button{
  background: #e34;
  color:#fff;
  border: none;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.bottom-bar>button>.icon{
  font-size: 22px;
  font-weight: bold;
}

.top-bar .subtitle{
  background: #0005;
  width:100%;
  backdrop-filter: blur(5px);
  color:#fff;
  display:flex;
  justify-content: center;
  align-items: center;
}

.top-bar .subtitle p{
  font-size: 12px;
  padding: 3px 0;
}

.mif-home{
  padding-bottom: 5px;
  padding-top:2px;
}

.bottom-bar>button>.label{
  font-size: 15px;
}

.bottom-bar>button.active{
  background:#eaa;
}

.bottom-bar>button:active{
  box-shadow: 0px 0px 10px #0005;
  scale: 1.01;
}

